.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.rank {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@keyframes sparkle {
  0% {
    background-color: aqua;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: pink;
  }
  75% {
    background-color: lightgreen;
  }
  100% {
    background-color: aqua;
  }
}

.rank > div {
  width: 165px;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
  animation: sparkle 0.3s infinite;
}

.rankcode {
  list-style-type: none;
  padding: 0;
}

.rankcode li {
  margin-bottom: 10px;
}

.clicker {
  position: absolute;
  top: 140px;
  right: -20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}
