.home-container {
    width: 1080px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

section {
    width: 100%;
    margin-right: 30px;
}

.post {
    text-align: left;
    margin-bottom: 40px;
    border: 2px solid black;
    position: relative;
}

.post div {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    width: 100px;
    text-align: center;
}

.rankcode {
    margin-top: 15px;
}

.rankcode li {
    display: inline-block;
    width: 180px;
    background-color: bisque;
    border: 1px solid black;
    margin: 5px 8px;
}

.postcode {
    display: flex;
    flex-direction: row;
}

.postcode li {
    display: inline-block;
    width: 180px;
    height: 150px;
    background-color: bisque;
    border: 1px solid black;
    margin: 8px;
    margin-top: 18px;
}

.home_right {
    align-items: center;
    display: flex;
}

.home_right>div {
    cursor: pointer;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}