.home-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 80px 100px 0px 100px;
}

section {
  margin-right: 80px;
}

.post {
  width: 500px;
  text-align: left;
  margin-bottom: 20px;
  border: 2px solid black;
}

.post div {
}

.code {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.code li {
  display: inline-block;
  width: 180px;
  height: 150px;
  background-color: bisque;
  border: 1px solid black;
  margin: 8px;
  margin-top: 18px;
}
