/* post_view.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.post-view {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.post-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-likes, .post-author {
    font-size: 1rem;
    color: #888;
}

.post-content {
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    line-height: 1.6;
    color: #444;
}

.post-line {
    position: relative;
    padding-right: 100px; /* 버튼 공간 확보 */
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.post-line:hover {
    background-color: #e9f5ff; /* 마우스를 올렸을 때 줄의 배경색 */
}

.feedback-button {
    position: absolute;
    background: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    right: 10px;
    display: none;
}

.feedback-button.active,
.post-line:hover .feedback-button {
    display: inline-block;
}

.feedback-text {
    margin-top: 5px;
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.popup-inner textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none; /* textarea 크기 조정 불가능하게 설정 */
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
}

.popup-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.popup-buttons button:first-child {
    background-color: #ccc;
    color: black;
}

.popup-buttons button:last-child {
    background-color: #007bff;
    color: white;
}

.popup-buttons button:first-child:hover {
    background-color: #bbb;
}

.popup-buttons button:last-child:hover {
    background-color: #0056b3;
}

.popup-inner textarea {
    width: calc(100% - 20px); /* 부모 요소의 padding 값에 따라 조정 */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none; /* textarea 크기 조정 불가능하게 설정 */
}
