* {
  box-sizing: border-box;
  border: none;
}
.container_si {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm_si {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logo_si {
  width: 80px;
  height: 50px;
}
.logo_si img {
  width: 100%;
}

.form_si {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nickname_si {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.nick_input_si {
  height: 40px;
  font-size: 20px;
  line-height: 50px;
}
.password_si {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.pass_input_si {
  height: 40px;
  font-size: 20px;

  line-height: 50px;
}
.submit_si button {
  width: 150px;
  height: 40px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.submit_si button:hover {
  width: 150px;
  height: 40px;
  border: none;
  font-size: 20px;
  box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.9);
  background-color: rgb(199, 199, 199);
}
